# Entorno virtual
.venv/
venv/
ENV/

#Archuvos internos de PyCharm
.idea/

#Python y caché
__pycache__/
*.pyc
*$py.class

#Base de datos local
db.sqlite3
db.sqlite3-journal

# Variables de entorno y secretos
.env
local_settings.py

# Archivos estáticos o subidos en desarroollo
/media/
/staticfiles/